[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
django-cors-headers = "*"
requests = "*"
python-dotenv = "*"
pillow = "*"
psycopg = {extras = ["binary"], version = "*"}
psycopg2 = "*"
gunicorn = "*"

