{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <script>
        tailwind.config = {
            darkMode: 'class',
        }
    </script>
    <title>{% block title %}Calorimeter{% endblock %}</title>
    <link rel="icon" href="{% static 'logo/icon.png' %}">
</head>
<body>
    {% block content %}{% endblock %}
    {% block footer %}
    <footer class="text-gray-600 body-font bottom-0 lg:fixed lg:w-full lg:h-20 lg:bg-white">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col lg:relative" id='demo'></div>
    </footer>   
    <script>const logo = "{% static 'logo/icon.png' %}"</script>
    <script src="{% static 'js/base.js'%}"></script>
    {% endblock %}
</body>
</html>